#container {
    min-width: 200px;
    max-width: 800px;
}

#container li {
    min-height: 60px;
}

#file-list {
    min-width: 200px;
    padding-left: 10px;
    padding-top: 12px;
    white-space: nowrap;
    min-height: 50px;
    margin-bottom: 25px;
}

input[type=text],
button,
#file-list {
    /* flex-grow: 1; */
    font-size: 12pt;
    padding: 4px;
    color: #e9e9e9;
}

#download-button[disabled] {
    cursor: not-allowed;
}

#file-list {
    min-height: 25px;
}

#file-list li {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    font-size: 11pt;
    margin: .5em;
    min-height: 35px;
}

#file-list li.pending {
    color: #b1b1b1;
}

#file-list li.busy {
    font-style: italic;
}

#file-list li.busy progress {
    visibility: visible;
}

#file-list .filename-container {
    display: flex;
}

#file-list .filename {
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    margin-bottom: 8px;
}

#file-list .filename-container button {
    display: none;
    flex: 0;
    font-size: 9px;
    margin: 0;
    padding: 3px;
    padding-right: 4px;
    height: 12px;
    margin-left: 8px;
}

#file-list .busy .filename-container button {
    display: block;
}

.form-label {
    min-width: 240px;
    margin-top: 10px;
    margin-right: 8px;
}

input[type=text] {
    height: 21px;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

input[type=text],
button {
    box-sizing: content-box;
    height: 25px;
    text-align: center;
    outline-color: #c1c1c1;
    background-color: #ececec;
}

input[type=text]:hover,
button:hover {
    background-color: #e4e4e4;
}

input[type=text][disabled],
button[disabled]{
    opacity: .5;
    background-color: transparent;
}

button:not([disabled]) {
    cursor: pointer;
}

progress {
    visibility: hidden;
    display: block;
    opacity: .7;
    width: calc(100% - 2px);
    height: 8px;
    margin-top: -2px;
    background-color: whiteSmoke;
}

@media (max-width: 680px) {
    label {
        flex-direction: column;
    }

    .form-label {
        min-width: 190px;
        margin-bottom: 8px;
    }

    ol {
        padding-left: 0;
    }
}

@media (prefers-color-scheme: dark) {

    input[type="text"],
    button {
        background-color: #353535;
    }

    input[type="text"],
    button
    #file-list {
        color: whitesmoke;
    }

    input[type="text"]:hover,
    button:hover {
        background-color: #262626;
    }
}

body {
    margin-top: 10px;
    background-image: linear-gradient(90deg, #100231, #210464);
    font-family: sans-serif;
    color: #eee;
}

#container {
    margin: 0 auto;
    background: #222;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 16px black
}

h1 {
    font-size: 4em;
    color: #210464;
    margin-bottom: 3px;
    margin-top: 20px;
    font-weight: normal;
}

h1 a {
    text-decoration: none;
    font-weight: bold;
}

a {
    color: #fff;
}

.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 10px;
}

.download {
    padding-top: 20px;
    float: right;
}

pre {
    background: white;
    color: black;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #ccc;
    white-space: pre-wrap;
}

hr {
    border: 0;
    border-bottom: 1px solid #aaa;
}

li {
    margin-bottom: 0.5em;
}

ul {
    padding-left: 20px;
}

code {
    font-size: 16px;
    line-height: 1.5em;
}


#file-drop-area {
    border: 2px dashed #ccc;
    cursor: pointer;
    padding: 10%;
}

#file-drop-area.drag-over {
    background-color: #111;
}

.caveat > p {
    text-align: center;
}

.caveat2 > p {
    color: #888;
    font-size: 80%;
    text-align: center;
}

.filecount {
    background-color: #048f0b;
    font-weight: bold;
    font-size: 80%;
    font-family: sans-serif;
    padding: 2px 5px;
    border-radius: 10%;
    height: .8em;
    line-height: .8em;
}

.drop-target {
    text-align: center;
}